body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/background-image.png");
    background-size: repeat;
}

h1, .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1 {
    color: #4AAAA5;
}

p {
    padding-bottom: 40px;
}

ul {
    text-align: right;
}

.navbar-brand, #navbarNav {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-brand {
    background-color: #4AAAA5;
    font-size: 25px;
    letter-spacing: 1px;
}

.navbar-light .navbar-brand {
    color: #FFFFFF;
}

.navbar-light .navbar-brand:hover{
    color: #FFFFFF;
}

.container {
    margin-top: 80px;
}

.main-content {
    background: white;
    padding: 30px;
    margin-bottom: 100px;
}

.about-me-img {
    padding-right: 20px;
}

.btn {
    background-color: #4AAAA5;
    color: white;
    border-radius: 0;
    padding: 20px 40px;
}

.form {
    padding-left: 20px;
}

.form-control {
    border-radius: 0;
}

.portfolio-image {
    padding-top: 30px;
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.page-footer {
    background-color: rgb(102,102,102);
    border-top: solid #4AAAA5 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-copyright {
    color: #6B737A;
}

/*
  These rules take effect when the browser's width
  is either 1200px or more.
*/
@media screen and (min-width: 1200px) {
    .about-me-img {
      padding-bottom: 20px;
    }