body {
    font-family: 'Open Sans', sans-serif;
}

h1, .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navbar-brand, #navbarNav {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-brand {
    background-color: #4AAAA5;
    font-size: 25px;
    letter-spacing: 1px;
}

.navbar-light .navbar-brand {
    color: #FFFFFF;
}

.navbar-light .navbar-brand:hover{
    color: #FFFFFF;
}